<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>161516253687-8psgb6e6dqs6vmq806honaud9dadm6h9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.161516253687-8psgb6e6dqs6vmq806honaud9dadm6h9</string>
	<key>API_KEY</key>
	<string>AIzaSyBlL7c4pJB8GSZQ1fchuK31KrqkQd6_ot4</string>
	<key>GCM_SENDER_ID</key>
	<string>161516253687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>luminoltech.ProjectPUBG</string>
	<key>PROJECT_ID</key>
	<string>pubg-b0b01</string>
	<key>STORAGE_BUCKET</key>
	<string>pubg-b0b01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161516253687:ios:8c1cf051c3b8204a</string>
	<key>DATABASE_URL</key>
	<string>https://pubg-b0b01.firebaseio.com</string>
</dict>
</plist>